<ul style="list-style-type: none;margin:0;padding:0;overflow:hidden;background-color: #333;">
    <li style="float:left;"><a class="active" href="#">Links</a></li>
    <li style="float:left;"><a class="active" href="#">Putaway</a></li>
    <li style="float:left;"><a class="active" href="#">Receiving</a></li>
    <li style="float:left;"><a class="active" href="#">Picking</a></li>
    <li style="float:left;"><a class="active" href="#">Packing</a></li>
    <li style ="float:right;"><a class="active" href="{% url 'logout' %}">Logout</a></li></li>
</ul>