/* Dropdown Button */
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border:#ddd;
    border-radius: 10px;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    border-radius: 10px;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 10px;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

.container #table{
  position: sticky; 
  top: 0;
  z-index: 1; 
  background:#eee;
  border-spacing: 0;
  border-radius: 12px 12px 0 0;
  border-color: #111;
  width: 70%;
  font-size: 8px;
}

.container #table2 th {
  top: 0;
  z-index: 1;
  background:#eee;
}



scrollbar-thumb {
  background: red; 
  border-radius: 10px;
}

.container .columns {
  float: left;
  width: 33.3%;
  padding: 8px;
}

.container .price {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.container.price:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.container .price .header {
  background-color: #111;
  color: white;
  font-size: 25px;
}

.contaienr .price li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
}

.container .price .grey {
  background-color: #eee;
  font-size: 20px;
}

.container .button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}


@media only screen and (max-width:600px){
  table{
    width:90%;
  }
}


nav {
  float: left;
  width: 30%;
  height: 300px; /* only for demonstration, should be removed */
  background: #ccc;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;

}