<tr valign = "top">
    <td bgcolor = "#bbb" width = "20%">
        <ul style="list-style-type: none;">
            <b><li><a href="#">OrderManagement</a></li></b>
            <b><li><a href="{% url 'orderschedule' %}">Order Schedule</a></li></b>
            <b><li><a href="{% url 'cust_routecode' %}">CustomerUpdate</a></li></b>
            <b><li><a href="{% url 'user_management' %}">UserManagement</a></li></b>
            <b><li><a href="{% url 'routecode_update' %}">Update Route Codes</a></li></b>
            </ul>
    </td>