

<ul style="list-style-type: none;margin:0;padding:0;overflow:hidden;background-color: #333;">
    <li style="float:left;"><a class="active" style = "display: block;
                                                        color: white;
                                                        text-align: center;
                                                        padding: 8px 16px;
                                                        text-decoration: none;" href="#">Links</a>
    <li style = "float:right;"><a class="active" style = "display: block;
                                                        color: white;
                                                        text-align: center;
                                                        padding: 8px 16px;
                                                        text-decoration: none;" href="{% url 'logout' %}">Logout</a></li></li>
</ul>
<br>
<div class = "container">
    <div class="dropdown">
        <button class="dropbtn">Inbound</button>
        <div class="dropdown-content">
        <a href="{% url 'loadasn' %}">Load ASN</a>
        <a href="{% url 'createdelivery' %}">Create Delivery</a>
        <a href="{% url 'assignuser' %}">Assign ASN</a>
        <a href="{% url 'receiveasn' %}">Receive ASN</a>
        <a href="{% url 'putaway' %}">Putaway ASN</a>
        </div>
        
    </div>
    <div class="dropdown">
        <button class="dropbtn">Inventory</button>
        <div class="dropdown-content">
        <a href="#">Counts</a>
        <a href="#">HU move</a>
        <a href="#">Stock Takeon</a>
        <a href="#">Back to stock</a>
        <a href="#">HU Route</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Outbound</button>
        <div class="dropdown-content">
        <a href="{% url 'user_picks' %}">Order Picking</a>
        <a href="{% url 'pickstaging' %}">HUP Staging</a>
        <a href="#">Packing</a>
        <a href="#">Release</a>
        <a href="{% url 'create_pickingslip' %}">Create Order</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Inquire</button>
        <div class="dropdown-content">
        <a href="#">Order Inquire</a>
        <a href="{% url 'asn_inquire' %}">ASN Inquire</a>
        <a href="{% url 'product_inquire' %}">Product Inquire</a>
        <a href="{% url 'bin_inquire' %}">Bin Inquire</a>
        <a href="{% url 'transactions' %}">WorkFlow analyse</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">System Control</button>
        <div class="dropdown-content">
        <a href="{% url 'binupdate' %}">Bin Location Update</a>
        <a href="{% url 'pmupdate' %}">Product Update</a>
        <a href="{% url 'pfep' %}">PFEP</a>
        <a href="{% url 'base_system' %}">System Maintenance</a>
        <a href="{% url 'register' %}">Register User</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Reports</button>
        <div class="dropdown-content">
        <a href="{% url 'rep_inbound' %}">Inbound</a>
        <a href="{% url 'rep_inventory' %}">Inventory</a>
        <a href="#">Outbound</a>
        <a href="#">Sales&Stock</a>
        <a href="{% url 'analytics' %}">Analytics</a>
        </div>
    </div>
</div>